<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
	<default>
		<active_campaign>
			<synclog>
                <synclog_delete>0</synclog_delete>
                <synclog_mode>1</synclog_mode>
                <cron_minute>*</cron_minute>
                <cron_hour>*</cron_hour>
                <cron_day>*</cron_day>
                <cron_month>*</cron_month>
                <cron_weekday>*</cron_weekday>
			</synclog>
		</active_campaign>
	</default>
</config>
