<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="active_campaign" translate="label" type="text" sortOrder="100" showInDefault="1" showInStore="1">
            <class>separator-top</class>
            <label>Configuration</label>
            <tab>active_campaign</tab>
            <resource>ActiveCampaign_Core::config_active_campaign</resource>
            <group id="order_sync" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Order Sync Configuration</label>
                <field id="order_sync_enable" translate="Order Sync Enable" type="select" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Order Sync Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="cron_minute" translate="label comment" type="text" sortOrder="20" showInDefault="1">
                    <label>Cron Minute</label>
                    <comment><![CDATA[0-59 Allowed value. Set * for every minute.]]></comment>
                    <depends>
                        <field id="order_sync_enable">1</field>
                    </depends>
                    <backend_model>ActiveCampaign\Order\Model\Config\CronConfig</backend_model>
                </field>
                <field id="cron_hour" translate="label comment" type="text" sortOrder="21" showInDefault="1">
                    <label>Cron Hour</label>
                    <comment><![CDATA[0-23 Allowed value. Set * for every hour.]]></comment>
                    <depends>
                        <field id="order_sync_enable">1</field>
                    </depends>
                </field>
                <field id="cron_day" translate="label comment" type="text" sortOrder="22" showInDefault="1">
                    <label>Cron Day</label>
                    <comment><![CDATA[1-31 Allowed value. Set * for every day.]]></comment>
                    <depends>
                        <field id="order_sync_enable">1</field>
                    </depends>
                </field>
                <field id="cron_month" translate="label comment" type="text" sortOrder="23" showInDefault="1">
                    <label>Cron Month</label>
                    <comment><![CDATA[1-12 Allowed value. Set * for every month.]]></comment>
                    <depends>
                        <field id="order_sync_enable">1</field>
                    </depends>
                </field>
                <field id="cron_weekday" translate="label comment" type="text" sortOrder="24" showInDefault="1">
                    <label>Cron Weekday</label>
                    <comment><![CDATA[0-6 Allowed value. Set * for every weekday.]]></comment>
                    <depends>
                        <field id="order_sync_enable">1</field>
                    </depends>
                </field>
                <field id="order_sync_num" translate="Order Sync Numbers" type="text" sortOrder="30" showInDefault="1" showInStore="1">
                    <label>Order Sync Numbers</label>
                    <comment>Number of orders sync at a time</comment>
                </field>
                <field id="order_sync_status" translate="label" sortOrder="40" showInDefault="1" >
                    <label>Number of orders test</label>
                    <frontend_model>ActiveCampaign\Order\Block\Adminhtml\System\Config\Widget</frontend_model>
                    <depends>
                        <field id="sync">1</field>
                    </depends>
                </field>
                <field id="order_sync_real_time" translate="Order Sync in real time" type="select" sortOrder="30" showInDefault="1" showInStore="1">
                    <label>Order Sync in real time</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>If set yes order is sync after place order.</comment>
                </field>
            </group>
        </section>
    </system>
</config>
