<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <active_campaign>
            <order_sync>
                <order_sync_enable>0</order_sync_enable>
                <order_sync_num>100</order_sync_num>
                <cron_minute>5</cron_minute>
                <cron_hour>*</cron_hour>
                <cron_day>*</cron_day>
                <cron_month>*</cron_month>
                <cron_weekday>*</cron_weekday>
                <order_sync_real_time>1</order_sync_real_time>
            </order_sync>
        </active_campaign>
    </default>
</config>
