<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="ActiveCampaign_Order" setup_version="2.1.5">
        <sequence>
            <module name="ActiveCampaign_Core" />
            <module name="ActiveCampaign_Customer"/>
        </sequence>
    </module>
</config>
