<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <active_campaign>
            <abandoned_cart>
                <sync>0</sync>
                <number_of_abandoned_cart>100</number_of_abandoned_cart>
                <cron_minute>0</cron_minute>
                <cron_hour>*</cron_hour>
                <cron_day>*</cron_day>
                <cron_month>*</cron_month>
                <cron_weekday>*</cron_weekday>
                <min_inactive_time>60</min_inactive_time>
            </abandoned_cart>
        </active_campaign>
    </default>
</config>
