<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
    <type name="Magento\Checkout\Model\PaymentInformationManagement">
        <plugin name="after_guest_payment_information" type="ActiveCampaign\AbandonedCart\Plugin\Checkout\Model\PaymentInformationManagementPlugin"/>
    </type>
    <type name="Magento\Checkout\Model\GuestPaymentInformationManagement">
        <plugin name="after_guest_payment_information" type="ActiveCampaign\AbandonedCart\Plugin\Checkout\Model\GuestPaymentInformationManagementPlugin"/>
    </type>
    <preference for="Magento\Quote\Model\ResourceModel\Quote\Collection" type="ActiveCampaign\AbandonedCart\Model\ResourceModel\Quote\Collection" />
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="abandoned_cart_listing_data_source" xsi:type="string">Magento\Quote\Model\ResourceModel\Quote\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="Magento\Quote\Model\ResourceModel\Quote\Grid\Collection" type="ActiveCampaign\AbandonedCart\Ui\Component\Listing\AbandonedCartDataProvider">
        <arguments>
            <argument name="mainTable" xsi:type="string">quote</argument>
            <argument name="resourceModel" xsi:type="string">Magento\Quote\Model\ResourceModel\Quote</argument>
        </arguments>
    </virtualType>
    <type name="Magento\Checkout\Controller\Cart\Index">
        <plugin name="ac_checkout_cart_controller" type="ActiveCampaign\AbandonedCart\Plugin\Checkout\Controller\Cart\Index"/>
    </type>
</config>
