<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="ActiveCampaign_AbandonedCart::abandonedcart_operation" title="Abandoned Carts" translate="title" module="ActiveCampaign_AbandonedCart" sortOrder="20" parent="ActiveCampaign_SyncLog::activecampaign" action="acecommerce/index/index" resource="ActiveCampaign_AbandonedCart::abandonedcart_operation"/>
    </menu>
</config>
