<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="active_campaign" translate="label" sortOrder="10000">
            <label>ActiveCampaign</label>
        </tab>
        <section id="active_campaign" translate="label" type="text" sortOrder="100" showInDefault="1" showInStore="1">
            <class>separator-top</class>
            <label>Configuration</label>
            <tab>active_campaign</tab>
            <resource>ActiveCampaign_Core::config_active_campaign</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInStore="1">
                <label>General</label>
                <field id="version" translate="label" type="label" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Current Version</label>
                    <backend_model>ActiveCampaign\Core\Block\Adminhtml\System\Config\Version</backend_model>
                </field>
                <field id="status" translate="label" type="select" sortOrder="10" showInDefault="1" showInStore="1">
                    <label>Status</label>
                    <source_model>Magento\Config\Model\Config\Source\Enabledisable</source_model>
                </field>
                <field id="api_url" translate="label comment" type="text" sortOrder="20" showInDefault="1" showInStore="1">
                    <label>API URL</label>
                    <validate>required-entry validate-url validate-no-html-tags</validate>
                    <comment>Example: https://youraccountname.api-us1.com</comment>
                    <frontend_model>ActiveCampaign\Core\Block\Adminhtml\System\Config\FieldDisable</frontend_model>
                </field>
                <field id="api_key" translate="label" type="text" sortOrder="30" showInDefault="1" showInStore="1">
                    <label>API Key</label>
                    <validate>required-entry</validate>
                    <frontend_model>ActiveCampaign\Core\Block\Adminhtml\System\Config\FieldDisable</frontend_model>
                </field>
                <field id="connect_active_campaign" translate="button_label" sortOrder="40" showInDefault="1" showInStore="1">
                    <label/>
                    <button_label>Connect</button_label>
                    <frontend_model>ActiveCampaign\Core\Block\Adminhtml\System\Config\ConnectActiveCampaign</frontend_model>
                    <depends>
                        <field id="status">1</field>
                    </depends>
                </field>

            </group>
            <group id="synclog">
                <field id="debug_enabled" translate="label" sortOrder="10" type="select" showInStore="0"
                       showInWebsite="1" showInDefault="1">
                    <label>Debug Mode</label>
                    <comment>/var/log/activecampaign.log</comment>
                    <source_model>Magento\Config\Model\Config\Source\Enabledisable</source_model>
                </field>
            </group>

        </section>
    </system>
</config>
