<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <active_campaign>
            <customer>
                <sync>0</sync>
                <number_of_customers>100</number_of_customers>
                <cron_minute>10</cron_minute>
                <cron_hour>*</cron_hour>
                <cron_day>*</cron_day>
                <cron_month>*</cron_month>
                <cron_weekday>*</cron_weekday>
                <last_customers_updated>0000:00:00 00:00:00</last_customers_updated>
            </customer>
        </active_campaign>
    </default>
</config>
